body{
  width: 100%;
  height: 1000vh;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
.side-bar{
  width: 26%;
  height: 100vh;
  background: #ff0000;
}
.container{
  width: 80%;
  height: 100vh;
}